<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>ContestED</title>
    <link rel="stylesheet" href="style.css" />
    <script>
                                                                async function uploadFile(src_url, course, contest, language, task_n) {
                                                                    const url = `https://d5db9l2mvbtc273gdgdm.apigw.yandexcloud.net/check_disk?`;
                                                                    const params = `action=check_disk&src_url=${src_url}&course=${course}&language=${language}&task_n=${task_n}&contest=${contest}`;

                                                                try {
                                                                    const response = await fetch(url + params);
                                                                    if (!response.ok) {
                                                                        throw new Error(`HTTP error! Status: ${response.status}`);
                                                                    }

                                                                const json = await response.json();
                                                                document.getElementById("result").textContent = `Task ID: ${json.task_id}`;
                                                            } catch (error) {
                                                                document.getElementById("result").textContent = `Error: ${error.message}`;
                                                            }
                                            }


                                                                function validateWebsiteAnother(src_url) {
                                                                    var re = /(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g;
                                                                    var isValid = re.test(src_url);
                                                                    return isValid;
                                            }
                                                            function validateWebsite(src_url) {
                                                                try {
                                                                    new URL(src_url);
                                                                    return true;
                                                                } catch (e) {
                                                                    return false;
                                                            }
                                            }


                                                                function handleUploadFile() {
                                                                    const src_url = document.getElementById("src_url").value;
                                                                    const course = document.getElementById("course").value;
                                                                    const contest = document.getElementById("contest").value;
                                                                    const language = document.getElementById("language").value;
                                                                    const task_n = document.getElementById("task_n").value;

                                                                if (validateWebsite(src_url)) { } else {
                                                                    window.alert("Src_url is not valid!");
                                                                    src_url.focus();
                                                                return false;
                                                            }

                                                                uploadFile(src_url, course, contest, language, task_n);
                                                }
                                                            function checkTaskStatus() {
                                                                const taskId = document.getElementById("task_id").value;
                                                                fetch(`https://d5db9l2mvbtc273gdgdm.apigw.yandexcloud.net/status?action=status&task_id=${taskId}`)
                                                                    .then(response => response.json())
                                                                    .then(json => {
                                                                        document.getElementById("status-result").innerHTML = `<pre>${JSON.stringify(json, null, 2)}</pre>`;
                                                                    })
                                                                    .catch(error => {
                                                                        document.getElementById("status-result").textContent = `Error: ${error}`;
                                            });
                                                        }
                                </script>
</head>

<body>
    <h1>ContestED<br /><span style="font-size: 18px; color: #333;">Serverless platform for grading your programming
            assignments</span></h1>
    <form id="upload-form">
        <label for="src_url">Yandex.Disk URL:</label>
        <input type="text" id="src_url" name="src_url" required />
        <br />
        <label for="course">Course:</label>
        <input type="text" id="course" name="course" required />
        <br />
        <label for="contest">Contest:</label>
        <input type="text" id="contest" name="contest" required />
        <br />
        <label for="language">Language:</label>
        <input type="text" id="language" name="language" required />
        <br />
        <label for="task_n">Task Number:</label>
        <input type="text" id="task_n" name="task_n" required /><br />
        <button type="button" onclick="handleUploadFile()">Test my solution!</button>
    </form>
    <div id="result"></div>
    <h2>Check task status</h2>
    <form id="status-form">
        <label for="task_id">Task ID:</label>
        <input type="text" id="task_id" name="task_id" required />
        <br />
        <button type="button" onclick="checkTaskStatus()">Check status!</button>
    </form>
    <div id="status-result"></div>
    <footer>
        <p>Contacts:</p>
        <ul>
            <li><a href="https://t.me/polarnighty" target="_blank">Telegram: @polarnighty</a></li>
            <li><a href="https://github.com/polarnights/ContestED" target="_blank">GitHub:
                    https://github.com/polarnights/ContestED</a></li>
        </ul>
    </footer>
</body>

</html>